.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    margin: 0;
    padding: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}
.form__item {
border: 1px solid #ddd;
padding: 10px;
}

.form__item--button {
   background-color: teal;
   color: white;
   height: 40px;
}

.form__item--button:hover{
    background-color: rgb(0, 138, 138);
}