.list__text--done {
    text-decoration: line-through;
}

.list__task {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.button {
    color: white;
    width: 35px;
    height: 35px;
    border: none;
}

.button--done {
    background-color: green;
}

.button--done:hover {
    background-color: rgb(0, 141, 0);
}

.button--done:active {
    background-color: rgb(0, 154, 0);
}

.button--remove {
    background-color: rgb(218, 1, 1);
}

.button--remove:hover {
background-color: rgb(234, 3, 3);
}

.button--remove:active {
    background-color: hsl(0, 100%, 50%);
    }
    
.list__text {
    padding: 0px 20px;
}

.list {
    margin: 0;
    padding: 10px;
    font-weight: 400px;
}