html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    background-color: #ddd;
    padding: 20px;
}